{
	"extends": [
		"eslint:recommended",
		"prettier",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": ["import"],
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"es6": true
	},
	"globals": {
		"log": "readonly",
		"__command": "readonly",
		"coscript": "readonly",
		"__mocha__": "readonly"
	}
}
